@import "ember-bootstrap/bootstrap";

.scrollable {
    width: 100%;
    border-spacing: 0px !important;
}

.scrollable thead,
.scrollable tbody,
.scrollable tr,
.scrollable td,
.scrollable th{
  // display: block;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.scrollable tr:after {
  content: ' ';
  float: left;
  visibility: hidden;
  clear: both;
  width: 100%;

}
.scrollable tbody {
    height: 100px;
    overflow-y: overlay;
}
