@import "ember-bootstrap/bootstrap";

.g-table-scrollable {
    width: 100%;
    border-spacing: 0px !important;
}

.g-table-scrollable thead,
.g-table-scrollable tbody,
.g-table-scrollable tr,
.g-table-scrollable td,
.g-table-scrollable th{
  // display: block;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.g-table-scrollable tr:after {
  content: ' ';
  float: left;
  visibility: hidden;
  clear: both;
  width: 100%;

}
.g-table-scrollable tbody {
    height: 100px;
    overflow-y: overlay;
}
.g-table-scrollable td:last-child {
  padding-right: 50px;
  color: red;
}
.g-table th.sortable-table-header {
  cursor: pointer;
}
